---
layout: project
title: Contribute to Aesh
---

.row-fluid
  .hero-unit
    %h1 Contribute
    %p How to contribute to Aesh
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span5
          %h2 Get Involved
          %p
            There are many ways of getting involved with Aesh and contribute to the project. We are glad for any involvement either it is finding a bug and report it, contacting us on irc, pinging us on twitter, submit a bug or contribute code on any of our modules.

        .span3
          %h2 Chat
          .well
            %p
              We use
              %a{:href => "http://en.wikipedia.org/wiki/Internet_Relay_Chat"} IRC
              for communications. Please join us at the 
              %a{:href => "irc://freenode.org/#aesh"}
                %code #aesh
              IRC channel on 
              %a{:href=>"http://freenode.net/"}Freenode.

        .span3
          %h2 Mailing List
          .well
            We use mailing list too for communications. Please join us at the
            %a{:href => "https://groups.google.com/forum/#!forum/aesh-dev"}
              %code aesh-dev list
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span5
          %h2 Source repository
          .well
            %p<
              All the Aesh source code is managed using git and is hosted at github.com.
              It is all hosted under the 
              %a(href="https://github.com/aeshell/") Aesh organization.

              Source repository
              The different modules:
              %ul.icons-ul
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aesh") Aesh Main
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aesh-extensions") Aesh Extensions
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aesh.github.com") Aesh Web Page
        .span5
          %h2 Issue tracker
          %p
            Aesh use Jira as our tracking system, file issues/requests/etc here:
            %a(href="https://issues.jboss.org/browse/AESH") Aesh Jira

                                                               

