---
layout: project
title: Contribute to Æsh
---

/ Example row of columns
%section#intro
.row
  .span5
    %h1 Get Involved
    :markdown
      There are many ways of getting involved with Æsh and contribute to the project. 
      
      We are glad for any involvement either it is finding a bug and report it, contacting us on irc, pinging us on twitter, submit a bug or contribute code on any of our modules.

  .span5
    %h2 Chat
    .well
      Please join us at the #aesh channel on irc.freenode.net to talk about æsh.
.row
  .span5
    %h2 Source repository
    .well
      %p<
        All the Æsh source code is managed using git and is hosted at github.com.
        It is all hosted under the 
        %a(href="https://github.com/aeshell/") Æsh organization.

        Source repository
        The different modules:
        %ul.icons-ul
          %li
            %i.icon-li.icon-chevron-sign-right>
              %a(href="https://github.com/aeshell/aesh") Aesh Main
          %li
            %i.icon-li.icon-chevron-sign-right>
              <a href="https://github.com/aeshell/aesh-extensions"> Aesh Extensions</a>
          %li
            %i.icon-li.icon-chevron-sign-right>
              <a href="https://github.com/aeshell/aesh.github.com"> Aesh Web Page</a>
                                                         

