---
layout: project
title: Downloads
---


/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 Æsh Downloads
  All the Æsh versions are located on maven. If you prefer a direct download just choose the version and download.
  %p
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th Direct Download
        %th User Guide
        %th Javadocs
    %tbody
      %tr
        %td 0.38
        %td
          %a url...
        %td
          %a html
        %td
          %a html
      %tr
        %td 0.33.7
        %td
          %a url...
        %td
          %a html
        %td
          %a html

  %hr

/ Example Content
