---
layout: project
title: Downloads
---

%h2 Downloads
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %tr
      %th Version
      %th Date
      %th Release Notes
      %th Description
      %th Format
  %tbody
    %tr
      %td 0.44
      %td 13 Dec 2013
      %td
        %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12312720&version=12323100") Notes
      %td Main
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.44.zip") aesh-0.44.zip
    %tr
      %td
      %td
      %td
      %td
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.44.tar.gz") aesh-0.44.tar.gz
    %tr
      %td
      %td
      %td
      %td Extensions
      %td
        %a(href="https://github.com/aeshell/aesh-extensions/archive/0.44.zip") aesh-extensions-0.44.zip
     %tr
      %td 0.43
      %td 15 Nov 2013
      %td
        %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12312720&version=12322693") Notes
      %td Main
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.43.zip") aesh-0.43.zip
    %tr
      %td
      %td
      %td
      %td
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.43.tar.gz") aesh-0.43.tar.gz
    %tr
      %td
      %td
      %td
      %td Extensions
      %td
        %a(href="https://github.com/aeshell/aesh-extensions/archive/0.43.zip") aesh-extensions-0.43.zip
    %tr
      %td 0.42
      %td 17 Oct 2013
      %td
        %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12312720&version=12322376") Notes
      %td Main
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.42.zip") aesh-0.42.zip
    %tr
      %td
      %td
      %td
      %td
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.42.tar.gz") aesh-0.42.tar.gz
    %tr
      %td
      %td
      %td
      %td Extensions
      %td
        %a(href="https://github.com/aeshell/aesh-extensions/archive/0.42.zip") aesh-extensions-0.42.zip
    %tr
      %td 0.41
      %td 6 Sep 2013
      %td
        %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12312720&version=12322294") Notes
      %td Main
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.41.zip") aesh-0.41.zip
    %tr
      %td
      %td
      %td
      %td
      %td
        %a(href="https://github.com/aeshell/aesh/archive/0.41.tar.gz") aesh-0.41.tar.gz
    %tr
      %td
      %td
      %td
      %td Extensions
      %td
        %a(href="https://github.com/aeshell/aesh-extensions/archive/0.41.zip") aesh-extensions-0.41.zip

%p
  A more complete list of versions can be found here
  %a(href="https://github.com/aeshell/aesh/releases") releases

%h3 Maven
All versions are located on maven central. If you are using maven the easiest would be to add this to your pom.xml:

%div
  %pre
    %code
      = preserve do
        :escaped
          <dependency>
            <groupId>org.jboss.aesh</groupId>
            <artifactId>aesh</artifactId>
            <version>${version.aesh}</version>
          </dependency>
For aesh-extensions:
%div
  %pre
    %code
      = preserve do
        :escaped
          <dependency>
            <groupId>org.jboss.aesh</groupId>
            <artifactId>aesh-extensions</artifactId>
            <version>${version.aesh}</version>
          </dependency>

%p Using "Gradle":http://www.gradle.org/:

%div
  %pre
    %code
      = preserve do
        :escaped
          dependencies {
              compile group: 'org.jboss.aesh', name: 'aesh', version: '0.+'
          }

%p



