---
layout: project
title: Extensions
---

.row-fluid
  .row-fluid
    .hero-unit
      %h1 Æsh Extensions
      %p 
        æsh-extensions is where common commands written for æsh live and prosper
  .row-fluid 
    .well.post-bg
      .row-fluid
        .span6
          %h4 ls
          %p List directory contents and information about the files. Currently under development.
        .span6
          %h4 more
          %p More is a filter for paging through text one screenful at a time.  This version is especially primitive. Users should realize that less provides more emulation plus extensive enhancements.
            
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 less
          %p Less is a program similar to more, but it has many more features. Still under development.
        .span6
          %h4 grep
          %p grep searches the named input files (or standard input if no files are named). Still under development.
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 touch
          %p Works similar as posix touch
        .span6
          %h4 cd
          %p Works similar as posix cd
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 pushd and popd
          %p Works similar as posix pushd and popd
        .span6
          %h4 pwd
          %p Works similar as posix pwd
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 cat
          %p Works similar as posix cat
        .span6
          %h4 matrix
          %p Useless command that shows the matrix effect, customizable
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 add-command
          %p With the add-command you can specify a command on the file system written in Java or Groovy and load that in runtime.
        .span6
          %h4 harlem
          %p do you want harlem??? - we have it!
      .row-fluid
        %p
      .row-fluid
        .span6
          %h4 more to come....
          %p 

