---
layout: project
title: Æsh Homepage
---

/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Æsh
  %p If you want to write command-based programs!
/  %p<
/    %a.btn.btn-primary.btn-large(href="swatch.html") View the Swatches &raquo;

/ Example row of columns
%section#intro
.row
  .span4
    %h2 Features
    .well
      %div
        %ul.icons-ul
          %li
            %i.icon-li.icon-chevron-sign-right>
              Line editing
          %li
            %i.icon-li.icon-chevron-sign-right>
              History (search, persistence)
          %li
            %i.icon-li.icon-chevron-sign-right>
              Completion
          %li
            %i.icon-li.icon-chevron-sign-right>
              Masking
          %li
            %i.icon-li.icon-chevron-sign-right>
              Paste buffer
          %li
            %i.icon-li.icon-chevron-sign-right>
              Emacs and Vi editing mode
          %li
            %i.icon-li.icon-chevron-sign-right>
              Support all POSIX OS and Windows
          %li
            %i.icon-li.icon-chevron-sign-right>
              Support out and error streams
          %li
            %i.icon-li.icon-chevron-sign-right>
              Command line parser
          %li
            %i.icon-li.icon-chevron-sign-right>
              Aliases
          %li
            %i.icon-li.icon-chevron-sign-right>
              Undo and Redo
          %li
            %i.icon-li.icon-chevron-sign-right>
              Pipeline
          %li
            %i.icon-li.icon-chevron-sign-right>
              Redirect
          %li
            %i.icon-li.icon-chevron-sign-right>
              ++
  .span4
    %h2 Æsh (Another Extendable SHell)
    :markdown
     Æsh is a Java library that provides an API which allow the developer to write command-based programs in a terminal-independent manner. Æsh support most GNU Readline features and many different terminal operations. 
    %p<
      %a.btn(href="swatch.html") Go to the Swatches &raquo;
