/ Main hero unit for a primary marketing message or call to action
.jumbotron
  %h1 Æsh is Awesome!
  %p
    %a.btn.btn-large.pull-right
      Get Started
    %a.btn.btn-large.btn-success.pull-right
      Download
  %p Æsh is a Java Terminal API
