%footer.container
  .row-fluid
    .span2.offset1
      %h4 Navigate
      %ul
        %li
          %a{:href => "#{site.base_url}/docs/base/index.html", :title => "Get Started"} Get Started
        %li
          %a{:href => "#{site.base_url}/contribute.html", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "#{site.base_url}/downloads.html", :title => "Download"} Download
    .span2
      %h4 Contribute
      %ul
        %li
          %a{:href => "https://issues.jboss.org/browse/AESH", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "#{site.base_url}/contribute.html", :title => "Write code"} Write Code
//    .span3.offset1
//      %h4 LGPL 2.1 License
//      %p All dependencies of this project are available under the LGPL or a compatible license.
//      %p
//      .jbossbadge
//        %a{:href => "http://www.jboss.org/"}
//          %img{:src => "/cache/static.jboss.org/theme/images/common/jbossbadge.png"}/
