---
layout: project
---

.row-fluid
  #equalHeightsLayout
    #leftcol.span3.well
      = partial( page.docs_partial.nil? ? 'docs.html.haml' : page.docs_partial  , { "real_page" => page } )

    #maincol.span8
      ~ content
